*{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#lista-ps4 {
font-size: 18px;
color: brown;
background: burlywood;

}


#subestimados {
font-size: 18px;
color: aquamarine;
background: violet;
}

#subestimados li::marker{
    font-size: 30px;
    color: aqua;
}